<div class="nested-field" >
  <%= f.label 'Location' %><br>
  <%= f.text_field :street ,id: 'street',class: 'form-control', placeholder: 'Enter location'%>
  <div id="mapnew" style="width:550px;height:100px">
</div>   